@import url('./open-props.css');
@import url('../assets/fonts/fonts.css');

/* ================== Reset ================= */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}



:root {
    --background-primary: #eae7dc;
    --background-secondary: #dcddde;
    --glare: #FBEEC1;
    --shade:#dcddde;
    --text-normal: #000;
    --text-normal-hover:#5d5c99;
    --text-accent: #5d5c99;
    --text-accent-hover: #5d5c99;
    --text-muted: #5d5c61;
    --text-tilte: #043257;
    --btn: #eae7dc;
    --radio:#000;
    --btn-border: #5d5c61;
    --hover: #dcddde;
    --active: #eae7dc;
    --gradient: linear-gradient(180deg, #E5F7FF 0%, rgba(255, 255, 255, 0.00) 100%);
}
   


#dark:checked ~ *{
    --background-primary: #5d5c61;
    --background-secondary: var(--violet-3);
    --glare:#FBEEC1;
    --shade:#BC986A;
    --text-normal: #fff;
    --text-normal-hover:#fff;
    --text-accent: #77cecf;
    --text-accent-hover: #5a92b2;
    --text-muted: #77cecf;
    --text-tilte: #77cecf;
    --btn: #5d5c61;;
    --radio:#000;
    --btn-border: #7395ae;
    --hover: var(--violet-3);
    --active: #5d5c61;;
    --gradient: linear-gradient(to bottom right,#536976,#292e49);
}
   
@media (prefers-color-scheme: dark) {
    #dark:checked ~ *{
        --background-primary: #5d5c61;
        --background-secondary: var(--violet-3);
        --glare:#FBEEC1;
        --shade:#BC986A;
        --text-normal: #FBEEC1;
        --text-normal-hover:#fff;
        --text-accent: #77cecf;
        --text-accent-hover: #5a92b2;
        --text-muted: #77cecf;
        --text-tilte: #fff;
        --btn: #b1a296;
        --radio:#000;
        --btn-border: #7395ae;
        --hover: var(--violet-3);
        --active: rgba(47, 68, 156, 0.99);
        --gradient: linear-gradient(to bottom right,#536976,#292e49);
    }
}
   
#blue:checked ~ *{
    --background-primary: #7C98B3;
    --background-secondary: #84ceeb;
    --glare:#CEE5F2;
    --shade:#ACCBE1;
    --btn:#7C98B3;
    --text-normal:#fff;
    --text-normal-hover:#fff;
    --text-accent: #fff;
    --text-accent-hover: #5a92b2;
    --text-muted: #77cecf;
    --text-tilte: #fff;
    --radio:#000;
    --btn-border:#ACCBE1;
    --hover: #84ceeb;
    --active: #7C98B3;
    --BGG: #8D8741;
    --gradient: linear-gradient(to bottom right,#72c6ef,#004e8f);
}

   
#high-contrast:checked ~ *{
    --background-primary:#000;
    --background-secondary: #5d5c61;
    --glare:#000;
    --shade:#000;
    --text-normal:#fff;
    --text-normal-hover:#dcddde;
    --text-accent: hsl(352, 56%, 62%);
    --text-accent-hover: #5a92b2;
    --text-muted: #77cecf;
    --text-tilte: hsl(352, 56%, 62%);
    --btn:#000;
    --radio:#0f0;
    --btn-border:#ff0;
    --hover: transparent;
    --active: conic-gradient(from 90deg at 50% 0%,#111,50%,#222,#111);
    --BGG: #8D8741;
    --gradient: conic-gradient(from 90deg at 50% 0%,#111,50%,#222,#111);
}
   
   
.color-scheme-wrapper {
    min-height:100vh;
    padding:1rem;
    background:#F4F0EB;
    background:var(--bg);
    color:#000;
    color:var(--text);
}
   
.color-scheme-button,
.color-scheme-label {
    display:none;
}
   
@supports(--css:custom-properties) {
    .color-scheme-button,
    .color-scheme-label {
        display:inline;
    }
}
   
@media(-ms-high-contrast:active) {
    .color-scheme-button,
    .color-scheme-label {
        display:none;
    }
}
    
.light-mode-hide {
    display:none;
}
   
@media (prefers-color-scheme: dark) { 
    .light-mode-hide {
        display:block
    }
     
    .dark-mode-hide {
        display:none;
    }
}

a {
    text-decoration: none;
}

ul {
    margin: 0px;
    padding: 0px;
}

ul,
ol,
li {
    list-style: none;
}


img {
    vertical-align: none;
}


h1,
h2, 
h3,
h4,
h5, 
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    width: 100%;
    font-family: 'Spectral', serif;
}

audio::-webkit-media-controls-panel, video::-webkit-media-controls-panel {
    background-color: var(--background-secondary);
}

audio::-webkit-media-controls-current-time-display, video::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display, video::-webkit-media-controls-time-remaining-display {
    color: var(--text-normal);
}
/* ================== Reusable ================= */
.title {
    text-shadow: 1px 1px rgba(0,0,0,0.05),
    2px 2px rgba(0,0,0,0.05),
    3px 3px rgba(0,0,0,0.05),
    4px 4px rgba(0,0,0,0.05),
    5px 5px rgba(0,0,0,0.05),
    6px 6px rgba(0,0,0,0.05),
    7px 7px rgba(0,0,0,0.05),
    8px 8px rgba(0,0,0,0.05),
    9px 9px rgba(0,0,0,0.05)
}

.h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    overflow-wrap: break-word;
    border-radius: 0.375rem;
}

.h2 {
    font-size: 1.6666667em;
    margin-top: 1.8666667em;
    margin-bottom: 1.0666667em;
    line-height: 1.3333333;
}


.h3 {
    font-size: 1.3333333em;
    margin-top: 1.6666667em;
    margin-bottom: 0.6666667em;
    line-height: 1.5;
}

/* Общие стили //======================================================================================================================================================== */
.wrapper {
    min-height: 100%;
    display: grid;
    grid-template: minmax(100px, auto) 1fr minmax(70px, auto) / 1fr;
    grid-template-areas: "header" "main" "footer";
}

/* Header //======================================================================================================================================================== */
.header {
    grid-area: header;
    padding: 15px;
    display: grid;
    grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
    align-items: center;
    background-color:var(--background-primary);
}

.header__logo {
    grid-column: 2 / 3;
}

.header__menu {
    grid-column: 3 / 4;
}

.header__audioplayer {
    margin: 0;
    padding: 0;
    letter-spacing: -0.5px;
    position: relative;
}

.header__lists{
    display: grid;
    position: relative;
    grid-auto-flow: column;
    justify-items: end;
    gap: 7em;
}

.header__list {
    margin: 0px 0px 0px 30px;
}

.header__list_1 {
    position: absolute;
    right: 5px;
    top: 2%;
    height: 30px;
    width: 200px;
    display: block;
    z-index: 2;
    max-height: 400px;
}

.header__link {
    color: var(--text-accent);
    font-size: 18px;
    font-size: 300;
}
/* Sidebar //======================================================================================================================================================== */
.main {
    background-image: var(--gradient);
    padding: 30px 15px;
    /* background:
        radial-gradient(black 15%, transparent 16%) 0 0,
        radial-gradient(black 15%, transparent 16%) 8px 8px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:var(--background-secondary);
    background-size:16px 16px; */
}

.sidebar {
    display: none;
}

/* Content //======================================================================================================================================================== */
.content__gallary {
    padding: 0px 0px 30px 0px;
}

.content__title { 
    color: var(--text-accent);
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    line-height: 0.75;
    margin-bottom: 30px;
}

.content__section {
    margin-bottom: 5vh;
}

/* Gallary //======================================================================================================================================================== */

.gallary__items {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}


.gallary__title {
    color:  #d08770;
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
}

.gallary__item {
    position: relative;
    padding: 0px 0px 35% 0px;
}

.gallary__item img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
} 

.gallary__posts {
    display: grid;
    gap: 15px;
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    color: var(--text-normal);
    padding: 50px;
}

.gallary__post {
    font-size: 1.5em;
    font-weight: 500;
}

/* Audio //======================================================================================================================================================== */
.audio__items {
    display: grid;
    column-gap: 2vw;;
    row-gap: 1vw;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 6vw;
}

.audio__title {
    color: var(--text-accent);
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    line-height: 0.75;
    padding-top: 6vh;
    margin-bottom: 30px;
}

.audio__item {
    display: grid;
    grid-auto-flow: row; 
    grid-template: auto 1fr minmax(40px, auto) / 1fr; 
}


/* Footer //======================================================================================================================================================== */
.footer {
    background: var(--background-primary);
    grid-area: footer;
    display: grid;
    grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
    padding: 15px;
}



.footer__copy {
    grid-column: 2/3;
    color: var(--text-normal);
    font-weight: 500;
    font-size: 1.3rem;
}

.footer__text {
    text-align: right;
    grid-column: 3/4;
    color: var(--text-normal);
}

.footer__link {
    font-weight: 500;
    font-size: 1.3rem;
    color: var(--text-accent);
}

/* Media Quris //======================================================================================================================================================== */
@media (min-width: 992px) {
    .main {
        grid-area: main;
        display: grid;
        grid-template:  1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
    }

    .sidebar {
        display: grid;
        position: sticky;
        top: 20px;
        grid-template: 1fr / 1fr;
        grid-column: 2 / 3;
        height: fit-content;
    }

    .sidebar__menu {
        background: var(--btn);
        padding: 30px 0px;
        height: fit-content;
        border-bottom-left-radius: 60px;
        border-top-right-radius: 60px;
        border-top-left-radius: 35px;
        border-bottom-right-radius: 35px;
    }
    .sidebar__lists {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 5px;
        height: 200px;
        margin: 20px auto;
    }

    .sidebar__link {
        font-weight: 700;
        font-size: 1.1rem;
        color: var(--text-normal);
    }

    .sidebar__link.active {
        color: var(--text-normal-hover);
    }

    .sidebar__item {
        width: 100%;
    }
    
    .sidebar__item .sidebar__link.active {
        background: var(--hover);
        border-radius: 10px;
        
    }

    

    .content {
        grid-column: 3 / 4;
        padding: 0px 0px 0px 30px;
        
    }

    .h2 {
        font-size: 1.8em;
        margin-top: 1.5555556em;
        margin-bottom: 0.8888889em;
        line-height: 1.1111111;
    }
    
    .h3 {
        font-size: 1.5em;
        margin-top: 1.6em;
        margin-bottom: 0.6666667em;
        line-height: 1.3333333;
    }
}

@media (min-width: 767px) {
    .gallary__item_big {
        grid-column: span 2;
        grid-row: span 2;
    }
}
   
   
.color-scheme-wrapper {
    min-height:100px;
    padding:0.5rem;
    background:#F4F0EB;
    background: transparent;
    color:#000;
    color:var(--text-accent);
}
   
.color-scheme-button,
.color-scheme-label {
    display:none;
}
   
@supports(--css:custom-properties) {
    .color-scheme-button,
    .color-scheme-label {
       display:inline;
    }
}
   
@media(-ms-high-contrast:active) {
    .color-scheme-button,
    .color-scheme-label {
       display:none;
    }
}

.light-mode-hide {
    display:none;
}
   
@media (prefers-color-scheme: dark) { 
    .light-mode-hide {
        display:block
    }
     
    .dark-mode-hide {
        display:none;
    }
}
   
input[type=radio], input[type=checkbox]{
    position:absolute;
    opacity: 0.00001;
}
   
.color-scheme-dropdown {
    background:var(--shade);
    border-radius:6px;
    display:flex;
    flex-direction:column;
    box-sizing:border-box;
    border:2px solid var(--btn-border);
     
}
   
.color-scheme-dropdown-inner {
    display:none;
    padding:.8rem;
    border-top:solid 2px var(--btn-border);
}
   
#show-color-schemes:checked ~ .color-scheme-dropdown-inner {
    display:block;
}
   
.hide {
   display:none
}
   
#show-color-schemes:checked + label.show {
    display:none;
}
   
#show-color-schemes:checked + label.hide  {
    display:inline;
}
   
#show-color-schemes + label {
    display:inline-flex;
    padding: .8rem 1.2rem;
    align-items: center;
    border-radius: 4px;
    user-select: none;
}
   
#show-color-schemes + label:hover {
    background:#F4F0EB;
    background:var(--background-primary);
}
   
   
#show-color-schemes + label:active {
    transform: translateY(1px);
}
   
.icon-btn {
    background:#ACCDD7;
    background: var(--btn);
    box-shadow: 0 2px rgba(0,0,0,.2);
    height: 2rem;
    width:2rem;
    border-radius: 2rem;
    border: solid 2px var(--btn-border);
    position: relative;
    color: var(--text-normal);
    margin-left:1rem;
    display:flex;
    justify-content:center;
    align-items:center;
}
   
.icon {
    position: static;
    width: .5rem;
    height: .5rem;
    transform: rotate(135deg);
    border-top:2px solid #011427;
    border-right: 2px solid #011427;
    border-top: 2px solid var(--text-muted);
    border-right: 2px solid var(--text-muted);
    margin-top: -2px;
}
   
#show-color-schemes:checked + label .icon {
    transform: rotate(-45deg);
    margin-top: 3px;
}
   
.color-scheme-label {
    display:flex;
    padding:1rem;
    align-items:center;
    justify-content:space-between;
    border-radius:6px;
    background:#F4F0EB;
    background:var(--background-primary);
    box-sizing:border-box;
    border:solid 2px transparent;
}
   
.color-scheme-label + .color-scheme-label {
    margin-top:.42rem;
}
   
.color-scheme-label:hover {
    background:#fff;
    background:var(--glare);
    border:solid 2px var(--btn-border);
}
   
.color-scheme-label:after {
    content:'';
    display:flex;
    height:1rem;
    width:1rem;
    border-radius:2rem;
    border:solid 2px #000;
    border:solid 2px var(--radio);
    box-shadow:0 2px #E6DCD1, inset 0 2px #E6DCD1;
    box-shadow:0 2px var(--shade), inset 0 2px var(--shade);
}
   
#blue:checked ~ .color-scheme-wrapper #blue-label:after,
#red:checked ~ .color-scheme-wrapper #red-label:after,
#light:checked ~ .color-scheme-wrapper #light-label:after,
#dark:checked ~ .color-scheme-wrapper #dark-label:after,
#high-contrast:checked ~ .color-scheme-wrapper #high-contrast-label:after {
    box-shadow:
    0 2px #E6DCD1, 
    inset 0 2px #E6DCD1,
    inset 0 0 0 3px #F4F0EB, 
    inset 0 0 0 1rem #000;

    box-shadow:
    0 2px var(--shade), 
    inset 0 2px var(--shade),
    inset 0 0 0 3px var(--background-primary), 
    inset 0 0 0 1rem var(--radio);
}
   
   



.card {
    border: 1px solid var(--btn-border);
    padding: 20px;
    background-color: var(--active);
    position: relative;
    display: flex;
    flex-direction: column;
}

.card__title {
    margin-bottom: 25px;
    color: var(--text-tilte);
    font-weight: 700;
    font-size: 1.1rem;
}

.card__text {
    overflow-wrap: break-word;
    color: var(--text-normal);
    font-size: calc(.25842vw + .75296em); 
    line-height: calc(1.3em + .2vw);
    -webkit-hyphens: auto;
    -webkit-hyphenate-limit-before: 3;
    -webkit-hyphenate-limit-after: 3;
    -webkit-hyphenate-limit-chars: 6 3 3;
    -webkit-hyphenate-limit-lines: 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-zone: 8%;
    -moz-hyphens: auto;
    -moz-hyphenate-limit-chars: 6 3 3;
    -moz-hyphenate-limit-lines: 2;
    -moz-hyphenate-limit-last: always;
    -moz-hyphenate-limit-zone: 8%;
    -ms-hyphens: auto;
    -ms-hyphenate-limit-chars: 6 3 3;
    -ms-hyphenate-limit-lines: 2;
    -ms-hyphenate-limit-last: always;
    -ms-hyphenate-limit-zone: 8%;
    hyphens: auto;
    hyphenate-limit-chars: 6 3 3;
    hyphenate-limit-lines: 2;
    hyphenate-limit-last: always;
}


 
#copy-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.card__copy-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    width: 50px;
    height: 25px;
    background-color: var(--shade);
    color: var(--text-normal);
    cursor: pointer;
}
  
.card__copy-btn:hover {
    transform: scale(1.1);
}
  
.card__copy-btn:active {
    transform: scale(0.9);
}
  
